<!DOCTYPE html>
<html ng-app="cashRegApp">
  <head>
    <title>Cash Register</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container">
      <input ng-model="itemAmt"/>
    </div>
    <div>
      {{ test }}
      <ul ng-repeat="obj in test">
        <li> {{ obj.num }} </li>
        <li> {{ obj.name }} </li>
        <hr>
      </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>    
    <script src="../scripts/main.js"></script>


  </body>
</html>